footer {
  background-color: #c8b1e4;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 20px 1px;
  box-sizing: border-box;
}

img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.footer-info-container {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-size: 10px;
  text-decoration: none;
  color: #2f184b;
}

#tos:hover {
  color: #9b72cf;
}

#pp:hover {
  color: #9b72cf;
}

#contact:hover {
  color: #9b72cf;
}

span {
  margin-left: 5px;
}

.vertical-bar {
  font-size: 10px;
  font-weight: 350;
}
